<html>
    <head>
        <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="" />
    </head>
    <body>
        <div class="center">
            <a href="#"><span data-attr="Welcome to FX">Welcome to FX</span><span data-attr="Trading!">Trading!</span></a> <br><br> <br>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text" (click)="OnGetStarted()">Get Started</span>
                </button>
              </div>
        </div>
    </body>
    </html>

    
    
    
    
